/vendor
/app/cache/*
/app/logs/*
/output_*/
/source/components/
.DS_Store
/node_modules
/dist
/rokka-dashboard

/source-assets/liip-styleguide
!/source-assets/liip-styleguide/dist/assets/toolkit/fonts/*
!/source-assets/liip-styleguide/dist/assets/toolkit/icons/*
!/source-assets/liip-styleguide/dist/assets/toolkit/scripts/*
!/source-assets/liip-styleguide/dist/assets/toolkit/styles/*
!/source-assets/liip-styleguide/node_modules/kanbasu/src/assets/scss/settings/_settings.scss
!/source-assets/liip-styleguide/node_modules/kanbasu/src/assets/scss/tools/_functions.scss
!/source-assets/liip-styleguide/node_modules/kanbasu/src/assets/scss/tools/_mixins.scss
!/source-assets/liip-styleguide/src/assets/toolkit/styles/settings/_kanbasu.scss
!/source-assets/liip-styleguide/src/assets/toolkit/styles/settings/_settings.scss
!/source-assets/liip-styleguide/src/assets/toolkit/styles/tools/_mixins.scss
