language: php

php:
  - '7.4'

env:
  - NODE_JS_VERSION=10

install:
  - composer install

before_script:
  - "[[ \"$TRAVIS_PULL_REQUEST\" == 'false' && \"$TRAVIS_BRANCH\" == 'master' ]] && BUILD_CMD='build:prod' || BUILD_CMD='build:stage'"

script:
  - curl -o ~/.nvm/nvm.sh https://raw.githubusercontent.com/creationix/nvm/v0.31.0/nvm.sh # update nvm
  - bash -c "source ~/.nvm/nvm.sh; nvm install $NODE_JS_VERSION;"
  - bash -c "source ~/.nvm/nvm.sh; nvm use $NODE_JS_VERSION;  node --version; npm install"
  - bash -c "source ~/.nvm/nvm.sh; nvm use $NODE_JS_VERSION; ./node_modules/.bin/gulp $BUILD_CMD"

deploy:
  # How to deploy to S3: https://docs.travis-ci.com/user/deployment/s3/
  # master
  - provider: s3
    # To store these securely, here is how to encrypt: https://docs.travis-ci.com/user/encryption-keys/
    access_key_id:
      secure: "FnJfgEw0hyfUhsPPgMeluZQpHlVZSrVgTgQXPWbX4WGFbGrrF0NdtzTtdIczCn8TEgIlDfvuq4LtGL3Gd6t1rmShr+yY6CR2Gb3qiDAbJ+RzkOF5ae2qgJLu7CW+lruZ03/whI0sHKBSJgAJRMrgSpgWxXGVHul8MpgjvCyXIsadKxw5Ayl934UrBoerdrTgdzr2f7FSFR3Zl8RPcziMPfdb+IfwZ3pOzG/LHd/sGheTC13LQj+zI+/fF4yyfRPZRweHEpAuiF6zOZv8itXo4WRUB4TyLQtxDjY3n09VYVK27EKFungq0+jjnurXOc22O5jiLQxCXGKpQokdqHDI9YbUlZCODmUJ+MkVdPd+b1wM0hNRoZ6qYqz4rPqfamCIGpkXyVgTDAwH65v5JjdgBKzt+pZwF4qIzV8CFZwQI0bE5pf0LFjapHryQhSNX657lnEvyNUizH8HIdDGJpIJRl/U3RE4L6EmLTUz4tHxyR7WMXFWKb2qXoGBLkhWeXmxGga54kHG53LfvI0e8Rsw6a0C9Tj2JTEA2OD1TwaXz71JZ5d4J5+s5RagaaCLbxvuQkd82/F9WNk56o3q8DimfDKoAO5b+O+3N+THjvKI3NftgZSPfBP2gQ39dACYIhUmMRqn7UNbEwSEV23jn2U4l07bpgOLs2OC7MHIf/PQd+g="
    secret_access_key:
      secure: "Bw4UpC5flP/7hkEn6yK/cPG/qdyy/BWSt/BZzyZxaLSm4GZ1DH0m2fhxcwdVvShsfWSoFGZ2HL2NKL6vxnmDUD+Ui3QYNw6S8FOmqT2fVQosIfiM3GAHac8ibfnebp2ASKB2oPR640jLi9lxnNL4VIS66HGcy97ZUPzhPOkXxGQEzx4bNO7e362617FHcw7SxZq0ZEVkFMcBEI/TdbxpFBPGJ1HI+crIjlPk++jfn5kjmkSfXk68NHIB5TowJKM8kuEwrwCgrU322N7N6sK/Ggr6jYRIFJWNFOhrjgZF5oc0P6aXfnRBZ8ciiqGjyxCcpyTbGqcFEdkE9oipuI0ifEXGbQ7cWDOPm19SAzwrRRbX/dlb9/Ds4+FGvyzn4ZbXHvi0im2xOB2tcfiBycjnzbOh4VZnoBD5gKUwOEGbrf8svzzZQzlEAB8/zMSSjG9jegBQ4svcPYSgz45zgfWyL75MurLL3OJ8N8RZ7Isr1Oy9TGdcSCk3/9K4mZ5WZleGlmOKRA1H/VjktB6Mx3a3QGwCI8WCtOAaLIQASqYaKpQL/M4Wq9lugRiOcy91NwqZebqHvl22SC/hDJ+gYhMZX8szDAuR2SfzSqBDGdaiwdoY30/wlMYqQGyHOu0xxEdGtK4byl8Pqq2oyvGNK3WeXs0w8yum3MMyUlwKPxAHzUY="
    bucket: "rokka-io"
    region: "eu-central-1"
    skip_cleanup: true
    local_dir: dist
    on:
      branch: master
  # staging
  - provider: s3
    # To store these securely, here is how to encrypt: https://docs.travis-ci.com/user/encryption-keys/
    access_key_id:
      secure: "FnJfgEw0hyfUhsPPgMeluZQpHlVZSrVgTgQXPWbX4WGFbGrrF0NdtzTtdIczCn8TEgIlDfvuq4LtGL3Gd6t1rmShr+yY6CR2Gb3qiDAbJ+RzkOF5ae2qgJLu7CW+lruZ03/whI0sHKBSJgAJRMrgSpgWxXGVHul8MpgjvCyXIsadKxw5Ayl934UrBoerdrTgdzr2f7FSFR3Zl8RPcziMPfdb+IfwZ3pOzG/LHd/sGheTC13LQj+zI+/fF4yyfRPZRweHEpAuiF6zOZv8itXo4WRUB4TyLQtxDjY3n09VYVK27EKFungq0+jjnurXOc22O5jiLQxCXGKpQokdqHDI9YbUlZCODmUJ+MkVdPd+b1wM0hNRoZ6qYqz4rPqfamCIGpkXyVgTDAwH65v5JjdgBKzt+pZwF4qIzV8CFZwQI0bE5pf0LFjapHryQhSNX657lnEvyNUizH8HIdDGJpIJRl/U3RE4L6EmLTUz4tHxyR7WMXFWKb2qXoGBLkhWeXmxGga54kHG53LfvI0e8Rsw6a0C9Tj2JTEA2OD1TwaXz71JZ5d4J5+s5RagaaCLbxvuQkd82/F9WNk56o3q8DimfDKoAO5b+O+3N+THjvKI3NftgZSPfBP2gQ39dACYIhUmMRqn7UNbEwSEV23jn2U4l07bpgOLs2OC7MHIf/PQd+g="
    secret_access_key:
      secure: "Bw4UpC5flP/7hkEn6yK/cPG/qdyy/BWSt/BZzyZxaLSm4GZ1DH0m2fhxcwdVvShsfWSoFGZ2HL2NKL6vxnmDUD+Ui3QYNw6S8FOmqT2fVQosIfiM3GAHac8ibfnebp2ASKB2oPR640jLi9lxnNL4VIS66HGcy97ZUPzhPOkXxGQEzx4bNO7e362617FHcw7SxZq0ZEVkFMcBEI/TdbxpFBPGJ1HI+crIjlPk++jfn5kjmkSfXk68NHIB5TowJKM8kuEwrwCgrU322N7N6sK/Ggr6jYRIFJWNFOhrjgZF5oc0P6aXfnRBZ8ciiqGjyxCcpyTbGqcFEdkE9oipuI0ifEXGbQ7cWDOPm19SAzwrRRbX/dlb9/Ds4+FGvyzn4ZbXHvi0im2xOB2tcfiBycjnzbOh4VZnoBD5gKUwOEGbrf8svzzZQzlEAB8/zMSSjG9jegBQ4svcPYSgz45zgfWyL75MurLL3OJ8N8RZ7Isr1Oy9TGdcSCk3/9K4mZ5WZleGlmOKRA1H/VjktB6Mx3a3QGwCI8WCtOAaLIQASqYaKpQL/M4Wq9lugRiOcy91NwqZebqHvl22SC/hDJ+gYhMZX8szDAuR2SfzSqBDGdaiwdoY30/wlMYqQGyHOu0xxEdGtK4byl8Pqq2oyvGNK3WeXs0w8yum3MMyUlwKPxAHzUY="
    bucket: "stage-rokka-io"
    region: "eu-central-1"
    skip_cleanup: true
    local_dir: dist
    on:
      branch: stage

cache:
  directories:
    - node_modules
    - rokka-dashboard
    - vendor
