{% if page.multilang == true %}
  {% set canonical = site.domain ~ site.language ~ page.url|trim('.') %}
{% else %}
  {% set canonical = site.domain|trim('/') ~ page.url|trim('.') %}
{% endif %}


<html lang="{{ site.language }}">
<head>
<title>
    {% block title %}{{ page.title|title }} | {{ site.title }}{% endblock %}
</title>
<link rel="preconnect" href="https://rokka.rokka.io">
<meta charset="utf-8"/>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
<meta content="{{ site.text.lead.text }}" name="description"/>
<meta content="{{ site.keywords }}" name="keywords"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="rokka.io, Liip AG, Switzerland" name="author"/>
<meta content="5301024A6A1B29738BF195B6B8D9CDB6" name="msvalidate.01"/>
<meta content="#6ea644" name="theme-color"/>
<link href="{{ canonical }}" rel="canonical"/>
<link href="/assets/styles/rokka.css" rel="stylesheet"/>
<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/manifest.json" rel="manifest"/>
<link color="#6ea644" href="/safari-pinned-tab.svg" rel="mask-icon"/>
<meta content="website" property="og:type"/>
<meta content="rokka" property="og:site_name"/>
<meta content="{{ site.sharing_title }}" property="og:title"/>
<meta content="{{ site.text.lead.text }}" property="og:description"/>
<meta content="{{ site.domain }}assets/images/sharing-image.png" property="og:image"/>
<meta content="{{ canonical }}" property="og:url"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="@liip" name="twitter:site"/>
<meta content="@liip" name="twitter:creator"/>
<meta content="{{ site.sharing_title }}" name="twitter:title"/>
<meta content="{{ site.text.lead.text }}" name="twitter:description"/>
<meta content="/assets/images/sharing-image.png" name="twitter:image"/>
{% block additional_head %} {% endblock %}
</head>
<body class="rokka-lang-{{ site.language }}" {{ page.body_attributes|raw }}>
{% include("tag_manager.html") %}
<div class="navbar navbar--sticky navbar--negative">
    <div class="navbar__body">
        <a class="navbar__brand" href="/{{ site.language }}/" title="Liip">
            <div class="logo">
                <img src="/dist/assets/images/rokka-logo.svg"/>
            </div>
        </a>
        <div class="flex-item-1 text-right">
            <a class="btn btn--negative btn--small rokka-navbar-cta" href="/dashboard/#/signup">
                {{ site.text.navigation.cta|raw }}
            </a>
        </div>
        <button class="navbar__toggle btn btn--bare" title="Toggle navbar">
            <svg class="navbar-hamburger icon" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <rect class="navbar-hamburger__first" height="2" width="16" x="4" y="5">
                </rect>
                <rect class="navbar-hamburger__second" height="2" width="16" x="4" y="11">
                </rect>
                <rect class="navbar-hamburger__third" height="2" width="16" x="4" y="17">
                </rect>
            </svg>
        </button>
        <nav class="navbar__collapse">
            <ul class="navbar-menu">
                <li>
                    <a class="navbar-menu__link" href="/{{ site.language }}/contact">
                        {{ site.text.navigation.contact|raw }}
                    </a>
                </li>
                <li>
                    <a class="navbar-menu__link" href="/documentation">
                        {{ site.text.navigation.documentation|raw }}
                    </a>
                </li>

                <li>
                    <a class="navbar-menu__link" href="/{{ site.language }}#rokka-pricing">
                        {{ site.text.navigation.pricing|raw }}
                    </a>
                </li>


                <li><a href="https://rokka.io/dashboard" class="navbar-menu__link">{{ site.text.navigation.login|raw }}</a></li>
                <li><a href="https://rokka.io/dashboard/#/signup" class="navbar-menu__link">{{ site.text.navigation.signup|raw }}</a></li>
                <li class="navbar-language-item">
                    {% if page.multilang == true %}
                    	<a class="navbar-menu__link{% if site.language == "de" %} active{% endif %}" href="/de{{ page.url }}">DE</a>
                    	<a class="navbar-menu__link{% if site.language == "en" %} active{% endif %}" href="/en{{ page.url }}">EN</a>
                    {% else %}
                    	<span class="navbar-menu__link disabled rokka-lang-not-available">DE</span>
                    	<a class="navbar-menu__link active" href="{{ page.url }}">EN</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>
{% block breadcrumb_wrapper %}
<section class="section section--primary section--middle section--behind-navbar">
    <div class="section__body">
        {% block breadcrumb %}
        <div class="grid">
            <div class="grid__item">
                <h1 class="mrgb0">
                    {% block page_title %}
                  {{page.title}}
                {% endblock %}
                </h1>
            </div>
            <div class="grid__item md-w-2/3">
                <p class="text-lead">
                    {% block page_description %}
                  {% if page.description %}
                    {{page.description}}
                  {% endif %}
                {% endblock %}
                </p>
            </div>
        </div>
        {% endblock %}
    </div>
</section>
{% endblock %}

{% block real_breadcrumb %}{% endblock %}


{% block content_wrapper %}
<section class="section">
    <div class="section__body">
        {% block content %}{% endblock %}
    </div>
</section>
{% endblock %}



{% include("footer.html") %}
<script src="/assets/scripts/rokka.js">
</script>
<!-- <script>hljs.initHighlightingOnLoad();</script> -->
{% block additional_javascript %}

{% endblock %}

</body>
</html>
