<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ page.title|title }} | {{ site.title }}{% endblock %}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="keywords" content="{{ page.keywords }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Rubik:300,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/styles/rokka.css">
    </head>
    <body>
        <img src="output_dev/assets/images/icons.svg">
        {% include("tag_manager.html") %}
        <section class="">
            {% block hero_content %}{% endblock %}
        </section>

        {% block breadcrumb %}
        <section>
            <h1>{{page.title}}</h1>
            {% if page.description %}
                <p>{{page.description}}</p>
            {% endif %}
        </section>
        {% endblock %}


        {% block content_wrapper %}
        <section>
            {% block content %}{% endblock %}
        </section>
        {% endblock %}



        {% include("footer.html") %}

        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> -->
        <script src="/assets/scripts/rokka.js"></script>
        
        <!-- <script>hljs.initHighlightingOnLoad();</script> -->
        {% block additional_javascript %}{% endblock %}
    </body>
</html>
