{% extends "default.html" %}

{% block real_breadcrumb %}
<section class="section pdgt+ pdgb0">
    <div class="section__body">
        <div class="rokka-breadcrumbs">
            <a href="/documentation">« Back to Documentation</a>
        </div>
    </div>
</section>
{% endblock %}

{% block additional_head  %}
<meta content="{{ page.title }} | {{ site.title }}" property="og:title"/>
<meta content="{{ page.description ? page.description : site.text.lead.text }}" property="og:description"/>
<meta content="{{ page.title }} | {{ site.title }}" name="twitter:title"/>
<meta content="{{ page.description ? page.description : site.text.lead.text }}" name="twitter:description"/>
<meta content="summary" name="twitter:card"/>
    {% if page.header_include %}
        {{ include(page.header_include) }}
    {% endif %}
{% endblock %}


{% block content_wrapper %}
<section class="section">
    <div class="section__body">
        <div class="grid grid--huge">
            <div class="grid__item md-w-1">
                <div class="rokka-doc-content">

                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="grid grid--huge">
        <div class="grid__item md-w-1">
            {% block articles %}
            {% include 'demos_list' with { 'articles': data.demos } %}
            {% endblock articles %}
        </div>
        </div>
    </div>
</section>
{% endblock %}
