{% extends "default.html" %}

{% block breadcrumb_wrapper %}

{% endblock %}

{% block title %}{{ site.sharing_title }}{% endblock %}

{% block content_wrapper %}
<div class="section-spacer">
  <section class="section section--primary section--fit section--middle section--fixed rokka-hero-section">
    <div class="section__body">
      <div class="grid grid--middle">
        <div class="grid__item md-w-3/5">
          <div class="rokka-hero-text">
            <h1 class="h2">{{ site.text.hero.heading_1|raw }}<br><span class="font-normal">{{ site.text.hero.heading_2|raw }}</span></h1>
            <p class="text-lead mrgb0">{{ site.text.hero.lead|raw }}</p>
            <a href="/dashboard/#/signup" class="btn btn--negative mrgt hidden-sm-down" id="trial-button">{{ site.text.hero.cta|raw }}</a>
          </div>
        </div>


        <div class="grid__item md-w-2/5">
          <div class="rokka-hero flex flex-align-center flex-justify-center">
            <div class="rokka-hero__animation-wrapper">
              <div class="rokka-hero__animation rokka-hero__animation--center">
                <div class="rokka-hero-bubble rokka-hero-bubble--huge">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <img src="/dist/assets/images/rokka-box.svg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="rokka-hero__animation rokka-hero__animation--outside">
                <div class="rokka-hero-bubble rokka-hero-bubble--1">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <img src="/dist/assets/images/icons/file-picture-upload.svg"/>
                    </div>
                    <div class="rokka-hero-bubble__label"><div>{{ site.text.hero.feature_1|raw }}</div></div>
                  </div>
                </div>

                <div class="rokka-hero-bubble rokka-hero-bubble--3">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <img src="/dist/assets/images/icons/crop-picture.svg"/>
                    </div>
                    <div class="rokka-hero-bubble__label"><div>{{ site.text.hero.feature_2|raw }}</div></div>
                  </div>
                </div>

                <div class="rokka-hero-bubble rokka-hero-bubble--4">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <img src="/dist/assets/images/icons/rocket.svg"/>
                    </div>
                    <div class="rokka-hero-bubble__label"><div>{{ site.text.hero.feature_3|raw }}</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
<!--   <div class="section__continue">
    <img src="/dist/assets/images/icons/arrow-down.svg"/>
  </div> -->
</div>

<section class="section section--light pdgb">
  <div class="section__body">
    <p class="text-lead mrgb">{{ site.text.lead.text|raw }}</p>

  </div>
</section>


<!-- <section class="section section--light rokka-section--why">
  <div class="section__body">
    <div class="grid grid--middle">

      <div class="grid__item sm-w-2/3 md-w-3/5 lg-w-1/2">
        <h2 class="mrgb+ mrgt0">{{ site.text.why_rokka.title|raw }}</h2>
          {% for reason in site.text.why_rokka.reasons %}
            <div class="rokka-feature{% if loop.last == false %} mrgb+{% endif %}">
              <h3 class="mrg0 h4 mrgb--"><div class="rokka-feature__icon"><svg class="icon icon--check test"><use xlink:href="#check" /></svg></div>{{ reason.title|raw }}</h3>
              <p class="mrg0">{{ reason.text|raw }}</p>
            </div>
          {% endfor %}
      </div>
      <div class="grid__item hidden-xs-down sm-w-1/3 md-w-2/5 lg-w-1/2">
        <div class="rokka-animation rokka-animation--why">
          <img src="/assets/images/rokka-neon-star.png"/>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="section section--light rokka-section--why">
  <div class="section__body">
    <div class="grid">
      <div class="grid__item">
        <h2 class="mrgb+ mrgt0">{{ site.text.why_rokka.title|raw }}</h2>
      </div>
    </div>
    <div class="grid">
        {% for reason in site.text.why_rokka.reasons %}
          <div class="grid__item md-w-1/3">
            <div class="rokka-feature">
              <h3 class="mrg0 h4 mrgb--"><div class="rokka-feature__icon"><img src="/dist/assets/images/icons/check.svg"/></div>{{ reason.title|raw }}</h3>
              <p class="mrg0">{{ reason.text|raw }}</p>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>

<section class="section rokka-section-uoso">

  <div class="section__body">
    <div class="rokka-uoso-row--middle">
      <div class="grid">
        <div class="grid__item">
          <div class="rokka-uoso-device rokka-uoso-device--imac">
            <div class="rokka-uoso-device__hardware"></div>
            <div class="rokka-uoso-device__screen"></div>
          </div>
        </div>
        <div class="grid__item sm-w-1/2 md-w-3/5 lg-w-2/5">
          <div class="rokka-uoso-text">
            <h2 class="mrg0 mrgb-- rokka-uoso-headline">{{ site.text.uoso.title|raw }}</h2>
            <p class="mrg0">{{ site.text.uoso.lead|raw }}</p>
          </div>
        </div>
        <div class="grid__item hidden-md-down lg-w-1/5">
          <div class="rokka-uoso-device rokka-uoso-device--iphone">
            <div class="rokka-uoso-device__hardware"></div>
            <div class="rokka-uoso-device__screen"></div>
          </div>
        </div>
        <div class="grid__item sm-w-1/2 md-w-2/5 lg-w-2/5">
          <div class="rokka-uoso-device rokka-uoso-device--ipad">
            <div class="rokka-uoso-device__hardware"></div>
            <div class="rokka-uoso-device__screen"></div>
          </div>
        </div>

        <div class="grid__item sm-w-1/2 md-w-3/5">
          <div class="rokka-uoso-device rokka-uoso-device--macbook">
            <div class="rokka-uoso-device__hardware"></div>
            <div class="rokka-uoso-device__screen"></div>
          </div>
        </div>

        <div class="grid__item sm-w-1/2 md-w-2/5">
          <div class="rokka-uoso-text rokka-uoso-text--cropping">
            <h3 class="h4">{{ site.text.uoso.feature_1.title|raw }}</h3>
            <p class="mrg0">{{ site.text.uoso.feature_1.text|raw }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<section class="section hidden-xs-down">
  <div class="section__body flex flex-space-between">

    <div class="number">
      <div class="flex">
        <div class="number__before text-primary mrgr-"><img src="/dist/assets/images/icons/picture-3.svg"/></div>
        <div class="number__text">
          <div class="number__value h2 mrg0 text-primary">3’478’654</div>
          <div class="number__description text-lead text-muted">{{ site.text.counter.images_stored|raw }}</div>
        </div>
      </div>
    </div>

    <div class="number">
      <div class="flex">
        <div class="number__before text-primary mrgr-"><img src="/dist/assets/images/icons/cloud-download.svg"/></div>
        <div class="number__text">
          <div class="number__value h2 mrg0 text-primary">3’247’438’536</div>
          <div class="number__description text-lead text-muted">{{ site.text.counter.requests|raw }}</div>
        </div>
      </div>
    </div>

    <div class="number">
      <div class="flex">
        <div class="number__before text-primary mrgr-"><img src="/dist/assets/images/icons/transfer-1.svg"/></div>
        <div class="number__text">
          <div class="number__value h2 mrg0 text-primary">104’953</div>
          <div class="number__description text-lead text-muted">{{ site.text.counter.traffic|raw }}</div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section section--light rokka-section--feature">
  <div class="section__body">
    <div class="rokka-feature--delivery">
      <div class="grid grid--middle">
        <div class="grid__item sm-w-1/2 md-w-3/5 lg-w-1/2">
          <h2 class="mrgt0">{{ site.text.made_fore_web|raw }}</h2>
          <h3 class="mrg0 h4 mrgb--">{{ site.text.fast_delivery.title|raw }}</h3>
          <p class="mrg0">{{ site.text.fast_delivery.text|raw }}</p>
          <p><img src="https://rokka.rokka.io/dynamic/noop/b79c0e60a67dee553866dadd123cc286f3002b2e.png"/></p>
        </div>
        <div class="grid__item sm-w-1/2 md-w-2/5 lg-w-1/2">
          <div class="rokka-feature__image">
            <img src="https://rokka.rokka.io/dynamic/noop/f4d3f334ba90d2b4b00e82953fe0bf93e7ad9912.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section__body">
    <div class="rokka-feature--api">
      <div class="grid grid--middle mrgt++">
        <div class="grid__item md-w-3/5 hidden-sm-down">
          <div class="rokka-feature__image">
            <div class="rokka-box pdg">
<pre class="mrgb"><code>$ curl -X POST -F filedata=@image.jpg 'https://api.rokka.io/sourceimages/organization'</code></pre>
<pre><code class="language-json">{
  "total": 1,
  "sourceimages": [
    {
      "hash": "c03683b067927d77973b458e0baa40aa7b5e5418",
      "short_hash": "c03683",
      "binary_hash": "05bf2c88f637e6361db31b094b09cfce95a7809c",
      "created": "2017-11-09T16:49:23+01:00",
      "name": "image.jpg",
      "mimetype": "image/jpeg",
      "size": 426884,
      "width": 800,
      "height": 600,
      "organization": "testorganization",
    }
  ]
}</code></pre>

            </div>

          </div>
        </div>

        <div class="grid__item md-w-2/5">
          <h3 class="mrg0 h4 mrgb--">{{ site.text.simple_api.title|raw }}</h3>
          <p class="mrg0">{{ site.text.simple_api.text|raw }}</p>

          <ul class="list-inline list-inline--tight">
            <li><a class="label mrgt--" target="_blank" href="https://github.com/rokka-io/rokka.js"><span class="label__body">JavaScript</span></a></li>
            <li><a class="label mrgt--" target="_blank" href="https://github.com/rokka-io/rokka-client-php"><span class="label__body">PHP</span></a></li>
            <li><a class="label mrgt--" target="_blank" href="https://github.com/rokka-io/rokka-go"><span class="label__body">Go</span></a></li>
            <li><a class="label mrgt--" target="_blank" href="https://github.com/rokka-io/rokka-python-codegen"><span class="label__body">Python</span></a></li>
            <li><a class="label mrgt--" target="_blank" href="https://github.com/rokka-io/rokka-java-codegen"><span class="label__body">Java</span></a></li>
            <li><a class="label mrgt--" target="_blank" href="https://github.com/rokka-io/rokka-client-bundle"><span class="label__body">Symfony</span></a></li>
            <li><a class="label mrgt--" target="_blank" href="https://www.drupal.org/project/rokka"><span class="label__body">Drupal</span></a></li>
            <li><a class="label mrgt--" target="_blank" href="https://wordpress.org/plugins/rokka-integration/"><span class="label__body">Wordpress</span></a></li>
            <li><a class="label mrgt--" target="_blank" href="https://github.com/rokka-io/rokka-kirby-plugin"><span class="label__body">Kirby</span></a></li>
            <li><a class="label mrgt--" target="_blank" href="https://github.com/rokka-io/rokka-client-php-cli"><span class="label__body">CLI</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>







<section id="rokka-pricing" class="section section--alt rokka-section--pricing">
  <div class="section__body">
    <h2 class="">{{ site.text.pricing.title|raw }}</h2>
    <div class="rokka-box rokka-pricing-box mrgt+">
      <div class="rokka-pricing rokka-pricing__paid">
        <div class="grid grid--middle">
          <div class="grid__item md-w-1/2">
            <h3 class="mrg0 mrgb--">{{ site.text.pricing.paid.title|raw }}</h3>
            <p class="mrg0 rokka-pricing-box__desc">{{ site.text.pricing.paid.text|raw }}</p>
          </div>
          <div class="grid__item md-w-1/2">
            <div class="flex">
              <div class="number flex-item-1">
                <div class="flex pdgr-">
                  <div class="number__text">
                    <div class="number__value number__value--chf h2 mrg0 text-primary">0.40</div>
                    <div class="number__description">
                      <div class="text-small">{{ site.text.pricing.paid.monthly|raw }}</div>
                      <div class="text-bold">{{ site.text.pricing.paid.storage_text1|raw }}</div>
                      <div class="text-small">{{ site.text.pricing.paid.storage_text2|raw }}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="number flex-item-1">
                <div class="flex pdgr-">
                  <div class="number__text">
                    <div class="number__value number__value--chf h2 mrg0 text-primary">0.50</div>
                    <div class="number__description">
                      <div class="text-small">{{ site.text.pricing.paid.monthly|raw }}</div>
                      <div class="text-bold">{{ site.text.pricing.paid.traffic_text1|raw }}</div>
                      <div class="text-small">{{ site.text.pricing.paid.traffic_text2|raw }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="rokka-pricing rokka-pricing__details">
        <a href="#" class="rokka-pricing__details-link">

            <span class="text-bold">{{ site.text.pricing.details.title|raw }}</span>
            <span class="text-primary text-bold">{{ site.text.pricing.details.text|raw }}</span>

        </a>
        <div class="rokka-pricing__details-table">
          <div class="grid">
            <div class="grid__item md-w-1/2">
              <h4>{{ site.text.pricing.details.storage|raw }}</h4>
              <table>
                <thead>
                  <tr>
                    <th>{{ site.text.pricing.details.amount|raw }}</th>
                    <th>{{ site.text.pricing.details.chf_per_gb|raw }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0 - 400</td>
                    <td>CHF 0.40</td>
                  </tr>

                  <tr>
                    <td>401 - 800</td>
                    <td>CHF 0.30</td>
                  </tr>

                  <tr>
                    <td>801 - 1200</td>
                    <td>CHF 0.20</td>
                  </tr>

                  <tr>
                    <td>1201 - 1600</td>
                    <td>CHF 0.10</td>
                  </tr>

                  <tr>
                    <td>1600 - ∞</td>
                    <td>CHF 0.08</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="grid__item md-w-1/2">
              <h4>{{ site.text.pricing.details.traffic|raw }}</h4>
              <table>
                <thead>
                  <tr>
                    <th>{{ site.text.pricing.details.amount|raw }}</th>
                    <th>{{ site.text.pricing.details.chf_per_gb|raw }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0 - 2000</td>
                    <td>CHF 0.50</td>
                  </tr>

                  <tr>
                    <td>2001 - 4000</td>
                    <td>CHF 0.42</td>
                  </tr>

                  <tr>
                    <td>4001 - 6000</td>
                    <td>CHF 0.34</td>
                  </tr>

                  <tr>
                    <td>6001 - 8000</td>
                    <td>CHF 0.26</td>
                  </tr>

                  <tr>
                    <td>8001 - ∞</td>
                    <td><a href="/{{ site.language }}/contact">{{ site.text.pricing.details.contact|raw }}</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <div class="rokka-pricing rokka-pricing__free">
        <div class="grid grid--middle">
          <div class="grid__item md-w-1/2">
            <p class="mrg0 text-bold">{{ site.text.pricing.free.title|raw }}</p>
            <p class="mrg0 rokka-pricing-box__desc">{{ site.text.pricing.free.text|raw }}</p>
          </div>
          <div class="grid__item md-w-1/2">
            <div class="flex">
              <div class="number flex-item-1">
                <div class="flex pdgr-">
                  <div class="number__text">
                    <div class="number__value h3 mrg0 text-muted">{{ site.text.pricing.free.free|raw }}</div>
                    <div class="number__description text-small">{{ site.text.pricing.free.free_space|raw }}</div>
                  </div>
                </div>
              </div>

              <div class="number flex-item-1">
                <div class="flex pdgr-">
                  <div class="number__text">
                    <div class="number__value h3 mrg0 text-muted">{{ site.text.pricing.free.free|raw }}</div>
                    <div class="number__description text-small">{{ site.text.pricing.free.free_traffic|raw }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="text-tiny text-right text-muted">
      <a href="{{ site.text.pricing.tos.link|raw }}" target="_blank">{{ site.text.pricing.tos.text|raw }}</a>
      {{ site.text.pricing.disclaimer|raw }}
    </p>

  </div>
</section>




<section class="section section--primary rokka-section--cta">
  <div class="section__body">

    <div class="grid grid--middle">
      <div class="grid__item lg-w-2/3 rokka-cta__text">
        <h2 class="mrg0">{{ site.text.cta.title|raw }}</h2>
        <p class="mrg0 text-lead">{{ site.text.cta.text|raw }}</p>
      </div>
      <div class="grid__item lg-w-1/3 rokka-cta__button">
        <a href="/dashboard/#/signup" class="btn btn--md btn--negative">{{ site.text.cta.cta_button|raw }}</a>
      </div>
    </div>
  </div>

</section>


<section class="section section--white rokka-section--testimonial">
  <div class="section__body">
    <div class="rokka-quotes">
      <div class="rokka-quotes-container">
        <div class="rokka-quote rokka-quote--left">
          <div class="rokka-quote__bubble">
            <h3 class="mrg0 mrgb--">{{ site.text.testimonial2.title|raw }}</h3>
            <p class="mrg0">{{ site.text.testimonial2.quote|raw }}</p>
          </div>
          <div class="rokka-quote__person">
            <div class="flex flex-align-center">
              <div class="flex-item-auto">
                <div class="rokka-quote__avatar"></div>
              </div>
              <div class="flex-item-1">
                <div class="h4 mrg0">{{ site.text.testimonial2.name|raw }}</div>
                <span>{{ site.text.testimonial2.job_title|raw }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="rokka-quote rokka-quote--right">
          <div class="rokka-quote__bubble">
            <h3 class="mrg0 mrgb--">{{ site.text.testimonial1.title|raw }}</h3>
            <p class="mrg0">{{ site.text.testimonial1.quote|raw }}</p>
          </div>
          <div class="rokka-quote__person">
            <div class="flex flex-align-center">
              <div class="flex-item-auto">
                <div class="rokka-quote__avatar"></div>
              </div>
              <div class="flex-item-1">
                <div class="h4 mrg0">{{ site.text.testimonial1.name|raw }}</div>
                <span>{{ site.text.testimonial1.job_title|raw }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="twitter-timeline" data-chrome="nofooter noheader transparent" data-height="700" data-dnt="true" href="https://twitter.com/rokkaio?ref_src=twsrc%5Etfw"></a>
    </div>

  </div>
</section>
{% endblock %}

{% block additional_javascript %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script>
      window.addEventListener('DOMContentLoaded', function() {
        var navbar = document.querySelector('.navbar');
        new Toolkit.Navbar(navbar, { mode: 'section' });
      });
      window.addEventListener('DOMContentLoaded', function() {

        document.querySelector('.rokka-pricing__details-link').addEventListener('click', function(e) {
          e.preventDefault();
          document.querySelector('.rokka-pricing__details').classList.add('rokka-pricing__details--open');
        });

        var hero = document.querySelector('.rokka-hero');

        window.setTimeout(function() {
          hero.classList.toggle('rokka-hero--appear');
        }, 800);

        window.setTimeout(function() {
          hero.classList.toggle('rokka-hero--animate');
        }, 2000);
      });
  </script>
{% endblock %}
