%btn--base {
    @extend .brdr--rounded;
    padding: 1.25rem;
    color: $font-color;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    display: inline-block;
    transition: 0.3s all ease-in-out;
}

.btn {
    @extend %btn--base;
    &:before {
        content: "";
        font-family: Arial, sans-serif;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: rgba(0, 0, 0, 0.05);
        color: darken($font-color, 20%);
    }
}

.btn--link {
    @extend %btn--base;
    color: $link-color;
    &:hover {
        background-color: transparent;
        color: darken($link-color, 15%);
    }
}

.btn--white {
    @extend %btn--base;
    background-color: white;
    color: $red;
    &:hover,
    &:focus,
    &:active {
        background-color: darken(white, 10%);
        color: $red;
    }
}

.btn--blue {
    @extend %btn--base;
    background-color: $blue;
    color: $white;
    &:hover,
    &:focus,
    &:active {
        color: $white;
        background-color: darken($blue, 10%);
    }
}

.btn--green {
    @extend %btn--base;
    background-color: $green;
    color: $white;
    &:hover,
    &:focus,
    &:active {
        color: $white;
        background-color: darken($green, 10%);
    }
}

.btn--gray {
    @extend %btn--base;
    background-color: $dark-gray;
    color: $white;
    &:hover,
    &:focus,
    &:active {
        color: $white;
        background-color: darken($dark-gray, 10%);
    }
}

.btn--red {
    @extend %btn--base;
    background-color: $red;
    color: $white;
    &:hover,
    &:focus,
    &:active {
        color: $white;
        background-color: darken($red, 10%);
    }
}

.btn--s {
    @extend .small;
    padding: $padding/2;
}
