@import "../liip-styleguide/dist/assets/toolkit/styles/toolkit";

$color-green: #6ea644;

body {
    background: #ddd;
}

.logo svg g {
    fill: currentColor;
}


.rokka-navbar-cta {
    opacity: 0;
    transition: opacity 0.3s;
    .navbar--overlay & {
        opacity: 1;
    }
}




// rokka feature
.rokka-feature {

}

.rokka-feature__icon {
    background: #6ea644;
    color: white;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
    font-size: 0.7rem;
    line-height: 1.4rem;
    text-align: center;
    float: left;
    margin-right: 0.5rem;
}



.pill {
    background: $color-green;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem 0.25rem;
    border-radius: 1rem;
    line-height: 1;
}



.rokka-box {
    border: 1px solid #ebebe6;
    box-shadow: 10px 10px 20px 0 rgba(192, 193, 188, 0.08);
    border-radius: 4px;
    background-color: white;
}


.rokka-section--why {
    padding-bottom: 15rem;
}


.rokka-animation--why {
    text-align: right;
    margin-top: -5.5rem;
    margin-left: 5em;
    img {
        display: inline-block;
    }
}

.rokka-animation--freitag {
    position: absolute;
    bottom: -20px;
    right: 0;
}

/*
    Rokka Hero Animation
 */

@keyframes scale-outside {
    0% {
        transform: scale(1);
    }
    100% {
        transform: translate(30%,20%);
    }
}

// @keyframes rotate-bubble {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }

// @keyframes rotate-outside {
//     0% {
//         transform: translateY(100%);
//     }
//     100% {
//         transform: translateY(0%);
//     }
// }

@keyframes translate-bubble-1 {
    0% {
        transform: translate(0%,0%);
        
    }
    100% {
        transform: translate(0%,-10%);
    }
}

@keyframes translate-bubble-2 {
    0% {
        transform: translate(0%,0%);
        
    }
    100% {
        transform: translate(0%,5%);
    }
}

@keyframes translate-bubble-3 {
    0% {
        transform: translate(0%,0%);
        
    }
    100% {
        transform: translate(0%,20%);
    }
}

@keyframes translate-bubble-4 {
    0% {
        transform: translate(0%,0%);
        
    }
    100% {
        transform: translate(0%,-20%);
    }
}

.rokka-hero-section {
    height: 100vh;
    min-height: auto;
    max-height: 1000px;
}

.section-spacer {
    height: 100vh;
    max-height: 1000px;
}

.rokka-hero-container {
    z-index: 2;
    position: relative;
}

.rokka-hero {
    font-size: 13px;
    width: 100%;
    display: flex;
    justify-content: center;
    .rokka-hero__animation {
        transition: 0.9s;
    }
    .rokka-hero__animation--center {
        transform: scale(0) rotate(-90deg);
        transition-timing-function: cubic-bezier(0.54, -0.17, 0.26, 1.07);
        transition-duration: 1s;
        opacity: 0;
        z-index: 150;
    }
    .rokka-hero__animation--outside {
        transform: rotate(-120deg) scale(1);
        transition-timing-function: cubic-bezier(0.18, 0.35, 0.32, 0.99);
        transition-duration: 0.6s;
        opacity: 1;
        z-index: 130;
        transform-style: preserve-3d;
    }
    .rokka-hero-bubble {
        transition: 0.6s;
        transition-timing-function: cubic-bezier(0.18, 0.35, 0.32, 0.99);
    }
    .rokka-hero-bubble__label {
        transition: 0.4s;
        transform: translateY(-150%);
        transition-timing-function: cubic-bezier(0.54, -0.17, 0.26, 1.57);

    }
    &.rokka-hero--appear {
        .rokka-hero__animation--center {
            transform: none;
            opacity: 1;
        }
        .rokka-hero__animation--outside {
            transform: none;
            transition-delay: 0s;
            opacity: 1;
        }
        .rokka-hero-bubble {
            
        }
        .rokka-hero-bubble--1 {
            transform: translate(-120%,-240%) scale(1.2);
            transition-delay: 0s;
            opacity: 0.7;
        }
        .rokka-hero-bubble--2 {
            transform: translate3d(200%,-200%,-17px) scale(0.6);
            transition-delay: 0.07s;
            opacity: 0.5;
        }
        .rokka-hero-bubble--3 {
            transform: translate3d(240%,90%,1px) scale(1);
            transition-delay: 0.17s;
            opacity: 0.8;
        }
        .rokka-hero-bubble--4 {
            transform: translate3d(-240%,210%, 5px) scale(1.6);
            transition-delay: 0.21s;
            opacity: 0.9;
        }
        .rokka-hero-bubble__label {
            opacity: 1;
            transform: none;
            transition-delay: 0.8s;
        }
    }
    &.rokka-hero--animate {
        .rokka-hero__animation--outside {
            // animation: scale-outside 7s infinite ease-in-out;
            // animation-direction: alternate;
            .rokka-hero-bubble {
                .rokka-hero-bubble-wrap {
                    animation: translate-bubble-1 5s infinite ease-in-out;
                    animation-direction: alternate;
                }
            }
            .rokka-hero-bubble--2 {
                .rokka-hero-bubble-wrap {
                    animation-name: translate-bubble-2;
                    animation-delay: 1.2s;
                }
            }
            .rokka-hero-bubble--3 {
                .rokka-hero-bubble-wrap {
                    animation-name: translate-bubble-3;
                    animation-delay: 0.8s;
                    animation-duration: 4.7s;
                }
            }
            .rokka-hero-bubble--4 {
                .rokka-hero-bubble-wrap {
                    animation-name: translate-bubble-4;
                    animation-delay: 0.4s;
                }
            }
        }
    }
}
.rokka-hero__animation-wrapper {
    position: relative;
    width: 5em;
    height: 5em;
}

.rokka-hero__animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rokka-hero-bubble {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    opacity: 0;
}

.rokka-hero-bubble-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rokka-hero-bubble--huge {
    opacity: 1;
    transform: scale(2);
    .rokka-hero-bubble-wrap {
        // font-size: 2.6em;

    }
    .rokka-hero-bubble__icon {
        padding: 0.9em;
        border-width: 1px;
        background: rgba(255,255,255,0.2);
        // color: $color-green;
    }
}

.rokka-hero-bubble--1 {
    transform: scale(1);
}
.rokka-hero-bubble--2 {
    filter: blur(6px);
    transform: translate3d(0,0,4px);

}
.rokka-hero-bubble--3 {
    transform: translate3d(0,0,4px);

}
.rokka-hero-bubble--4 {
    transform: translate3d(0,0,4px);
}

.rokka-hero-bubble__icon {
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 100%;
    padding: 1.1em;
    svg {
        height: 100%;
        width: 100%;
    }
}

.rokka-hero-bubble__label {
    position: absolute;
    bottom: -2em;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    opacity: 0;
    div {
        white-space: nowrap;
    }
}

/*
    Rokka Feature Animation
 */
.rokka-feature-animation {
    margin-right: 2rem;
    perspective: 780px;
    .rokka-box {
        transform: rotate3d(15,32,0,12deg) scale(0.9);
    }
    pre, code {
        background: none;
        color: #414141;
        box-shadow: none;
        padding: 0;
        margin: 0;
        word-break: break-all;
        white-space: pre-wrap;
        font-size: 12px;
        
        .token.boolean, .token.constant, .token.deleted, .token.function, .token.number, .token.property, .token.symbol, .token.tag {
            color: #B23852;
        }

        .language-css .token.string, .style .token.string, .token.attr-name, .token.builtin, .token.char, .token.entity, .token.important, .token.inserted, .token.operator, .token.regex, .token.selector, .token.string, .token.url, .token.variable {
            color: #EC9506;
        }

    }
}



// number
.number {
    display: inline-block;
}

.number__before {
    .icon {
        width: 34px;
        height: 34px;
    }
}

.number__value {
    line-height: 1;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.flex {
    display: flex;
}

.flex-item-auto {
    flex: 0 0 auto;
}

.flex-item-1 {
    flex: 1 1 0;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

// Maybe Styleguide
.font-normal {
    font-weight: normal;
}

.text-primary {
    color: $color-green;
}

.section--white {
    background-color: white;
}

.btn--negative {
    color: white;
    border-color: white;
    text-transform: uppercase;
    font-weight: bold;
    &:hover, &:focus {
        color: #6ea644;
        background: white;
    }
}

.text-tiny {
    font-size: 0.6rem;
}


// Lightning fast delivery
.rokka-feature--delivery {
    .rokka-feature__image {
        text-align: right;
        margin-top: -7rem;
        margin-bottom: -2rem;
        margin-left: 7rem;
        img {
            display: inline-block;
        }
    }
}



// Easy API
.rokka-feature--api {
    margin-bottom: 3rem;
}



// Upload once, show often
// 

.rokka-section-uoso {
  background-image: linear-gradient( 118deg, rgb(65,65,65) 0%, rgb(80,80,77) 100%);
  color: white;
  // padding-top: 0;
  padding-bottom: 0;
  overflow: visible;
}

.rokka-uoso {
    position: relative;
}

.rokka-uoso-row--top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.rokka-uoso-row--middle {
    padding-top: 12rem;
    .rokka-uoso-text {
        position: relative;
    }
}

.rokka-uoso-row--bottom {
    .rokka-uoso-text {
        margin-top: 105px;
    }
}



.rokka-uoso-device {
    position: relative;
}

.rokka-uoso-device__screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    background-image: url(../images/liip-photo.jpg);
    background-size: cover;
    background-position: center;
}

.rokka-uoso-device__hardware {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background-size: 100%;
}

.rokka-uoso-device--imac {
    $rokka-uoso-base-imac: 1302;

    font-size: $rokka-uoso-base-imac + px;
    width: 1em;
    height: 603 / $rokka-uoso-base-imac + em;
    margin-left: 30px;
    margin-top: -15rem;
    .rokka-uoso-device__hardware {
        background-image: url(../images/rokka-device-imac.png);
    }
    .rokka-uoso-device__screen {
        width: 1170 / $rokka-uoso-base-imac + em;
        height: 660 / $rokka-uoso-base-imac + em;
        left: 52 / $rokka-uoso-base-imac + em;
        top: 27 / $rokka-uoso-base-imac + em;
        transform: matrix3d(1.00342, 0, 0, 0, 0.193285, 0.421146, 0, 0.00033198, 0, 0, 1, 0, -2, 0, 0, 1);
        transform-origin: 0px 0px 0px;
    }
}

.rokka-uoso-device--iphone {
    $rokka-uoso-base-iphone: 135;

    font-size: $rokka-uoso-base-iphone + px;
    width: 1em;
    height: 250 / $rokka-uoso-base-iphone + em;
    margin: 0 auto;
    transform: translateX(8px);
    .rokka-uoso-device__hardware {
        background-image: url(../images/rokka-device-iphone.png);
    }
    .rokka-uoso-device__screen {
        width: 104 / $rokka-uoso-base-iphone + em;
        height: 188 / $rokka-uoso-base-iphone + em;
        top: 21 / $rokka-uoso-base-iphone + em;
        left: 10 / $rokka-uoso-base-iphone + em;
    }
}

.rokka-uoso-device--ipad {
    $rokka-uoso-base-ipad: 493;

    font-size: $rokka-uoso-base-ipad + px;
    width: 1em;
    height: 356 / $rokka-uoso-base-ipad + em;
    .rokka-uoso-device__hardware {
        background-image: url(../images/rokka-device-ipad.png);
    }
    .rokka-uoso-device__screen {
        width: 406 / $rokka-uoso-base-ipad + em;
        height: 306 / $rokka-uoso-base-ipad + em;

        left: 39 / $rokka-uoso-base-ipad + em;
        top: 18 / $rokka-uoso-base-ipad + em;
    }
}


.rokka-uoso-device--macbook {
    $rokka-uoso-base-macbook: 820;

    font-size: $rokka-uoso-base-macbook + px;
    width: 1em;
    height: 458 / $rokka-uoso-base-macbook + em;
    transform: translateX(-100px);
    margin-top: -70px;
    .rokka-uoso-device__hardware {
        background-image: url(../images/rokka-device-macbook.png);
    }
    .rokka-uoso-device__screen {
        width: 660 / $rokka-uoso-base-macbook + em;
        height: 414 / $rokka-uoso-base-macbook + em;
        left: 35 / $rokka-uoso-base-macbook + em;
        top: 15 / $rokka-uoso-base-macbook + em;
        transform: matrix3d(1.02082, 0, 0, 0.0000176854, 0.175988, 0.3138, 0, 0.000544915, 0, 0, 1, 0, -3, 0, 0, 1);
        transform-origin: 0px 0px 0px;
    }
}





/*
    Testimonial
 */

.rokka-quote {
    margin-top: 2rem;
}

.rokka-quote__bubble {
    background: #EBEBE6;
    margin-right: 1rem;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 0 0 30px;
        border-color: transparent transparent transparent #EBEBE6;
    }
}

.rokka-quote__avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-size: 100%;
    background-image: url(../images/rokka-testimonial-freitag-benjamin.png);
    margin-right: 0.5rem;
}



/*
    Pricing
 */
.rokka-pricing-box {

}

.rokka-pricing-box__free {
    border-top: 1px solid #ebebe6;
}

.rokka-pricing-box__desc {
    padding-right: 5rem;
}

/*
    Try out rokka for free
 */

.rokka-section-cta {

}




/*
    Rokka Footer
 */
.rokka-footer {
    border-top: 1px solid #DDDDD8;
}

.rokka-footer__logo {
    svg {
        width: auto;
        g {
            fill: currentColor;
        }
    }
}


