---
title: rokka is web images done right.
description: Storage, rendering and delivery of your images, easy and blazingly fast.
layout: default
---

{% block hero_content %}

{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content_wrapper %}

<div class="navbar navbar--sticky navbar--negative" style="height: 160px;">
  <div class="navbar__body">
    <a href="/example-pages/home.html" class="navbar__brand" title="Liip"><div class="logo"><img src="output_dev/assets/images/rokka-logo.svg" style="height: 48px;">
</div></a>

    <button class="navbar__toggle btn btn--bare" title="Toggle navbar">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="navbar-hamburger icon">
        <rect x="4" y="5" width="16" height="2" class="navbar-hamburger__first"></rect>
        <rect x="4" y="11" width="16" height="2" class="navbar-hamburger__second"></rect>
        <rect x="4" y="17" width="16" height="2" class="navbar-hamburger__third"></rect>
      </svg>
    </button>
    <nav class="navbar__collapse">
      <ul class="navbar-menu">
        <li><a href="/example-pages/work.html" class="navbar-menu__link">Work</a></li>
        <li><a href="#" class="navbar-menu__link">Team</a></li>
        <li><a href="#" class="navbar-menu__link">Blog</a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="section-spacer">
  <section class="section section--primary section--fit section--fixed rokka-hero-section">
    <canvas id="section-multiplier" class="section__bg"></canvas>

    <div class="rokka-hero-container">
      <div class="grid grid--middle">
        <div class="grid__item md-w-1/2">
          <div class="rokka-hero">
            <div class="rokka-hero__animation-wrapper">
              <div class="rokka-hero__animation rokka-hero__animation--center">
                <div class="rokka-hero-bubble rokka-hero-bubble--huge">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <img src="output_dev/assets/images/rokka-box.svg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="rokka-hero__animation rokka-hero__animation--outside">
                <div class="rokka-hero-bubble rokka-hero-bubble--1">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <svg class="icon icon--cloud"><use xlink:href="#cloud" /></svg>
                    </div>
                    <div class="rokka-hero-bubble__label"><div>Upload and render images</div></div>
                  </div>
                </div>

                <div class="rokka-hero-bubble rokka-hero-bubble--2">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <svg class="icon icon--service-design"><use xlink:href="#service-design" /></svg>
                    </div>
                  </div>
                </div>

                <div class="rokka-hero-bubble rokka-hero-bubble--3">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <svg class="icon icon--api"><use xlink:href="#api" /></svg>
                    </div>
                    <div class="rokka-hero-bubble__label"><div>image processing on the fly</div></div>
                  </div>
                </div>

                <div class="rokka-hero-bubble rokka-hero-bubble--4">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <svg class="icon icon--elearning"><use xlink:href="#elearning" /></svg>
                    </div>
                    <div class="rokka-hero-bubble__label"><div>Lightning fast delivery</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__item md-w-1/2">
          <h1>digital image processing<br><span class="font-normal">done right.</span></h1>
          <p class="text-lead">Store, render and deliver images. Easy and blazingly fast.</p>
          <button class="btn btn--md btn--negative" id="trial-button">Start your free trial</button>
        </div>
      </div>

      
    </div>

  </section>
</div>

<section class="section section--white">
  <div class="section__body">
    <p class="text-lead">The rokka image converter supports you in storing your digital images – easy and neat. Whether for handling image formats, SEO attributes or the lightning fast delivery, rokka is just the right tool for your digital images.</p>
  </div>
</section>


<section class="section section--white" id="rokka-section--why">
  <div class="rokka-animation rokka-animation--why">
    <img src="assets/images/background--why-roka.png"/>
  </div>
  <div class="section__body">
    <h2 class="h1 mrgb++">Why rokka?</h2>

    <div class="grid">
      <div class="grid__item md-w-1/2">
        <div class="rokka-feature flex mrgb+">
          <div class="flex-item-auto flex flex-align-center mrgr">
            <div class="rokka-feature__icon">
              <svg class="icon icon--api"><use xlink:href="#api" /></svg>
            </div>
          </div>
          <div class="flex-item-1">
            <h4 class="mrg0 mrgb--">Four your clients</h4>
            <p class="mrg0">rokka supports you with professional search engine optimization of your digital images.</p>
          </div>
        </div>

        <div class="rokka-feature flex mrgb+">
          <div class="flex-item-auto flex flex-align-center mrgr">
            <div class="rokka-feature__icon">
              <svg class="icon icon--elearning"><use xlink:href="#elearning" /></svg>
            </div>
          </div>
          <div class="flex-item-1">
            <h4 class="mrg0 mrgb--">Four your website</h4>
            <p class="mrg0">With rokka you manage your digital images safely and improve the speed of your website.</p>
          </div>
        </div>

        <div class="rokka-feature flex">
          <div class="flex-item-auto flex flex-align-center mrgr">
            <div class="rokka-feature__icon">
              <svg class="icon icon--audit"><use xlink:href="#audit" /></svg>
            </div>
          </div>
          <div class="flex-item-1">
            <h4 class="mrg0 mrgb--">Four your budget</h4>
            <p class="mrg0">Instead of thousands of expensive features, rokka covers exactly your needs. And that is what you pay. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="section__body flex flex-space-between">

    <div class="number">
      <div class="flex">
        <div class="number__before text-primary mrgr-"><svg class="icon icon--elearning"><use xlink:href="#elearning" /></svg></div>
        <div class="number__text">
          <div class="number__value h1 mrgb0 text-primary">131’932</div>
          <div class="number__description text-lead text-muted">images stored</div>
        </div>
      </div>
    </div>

    <div class="number">
      <div class="flex">
        <div class="number__before text-primary mrgr-"><svg class="icon icon--ecommerce"><use xlink:href="#ecommerce" /></svg></div>
        <div class="number__text">
          <div class="number__value h1 mrgb0 text-primary">28’234’239</div>
          <div class="number__description text-lead text-muted">image requests</div>
        </div>
      </div>
    </div>

    <div class="number">
      <div class="flex">
        <div class="number__before text-primary mrgr-"><svg class="icon icon--mobile"><use xlink:href="#mobile" /></svg></div>
        <div class="number__text">
          <div class="number__value h1 mrgb0 text-primary">349’196</div>
          <div class="number__description text-lead text-muted">GB traffic</div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section section--white">
  <div class="section__body pdgv++">
    <div class="grid">
      <div class="grid__item md-w-1/2">
        <div class="rokka-feature-animation">
          <div class="rokka-box pdg">
<pre class="mrgb"><code>$ curl -X POST -F filedata=@image.jpg 'https://api.rokka.io/sourceimages/testorganization'</code></pre>
<pre><code class="language-json">{
  "total": 1,
  "sourceimages": [
    {
      "hash": "c03683b067927d77973b458e0baa40aa7b5e5418",
      "organization": "testorganization",
      "created": {
      "date": "2015-08-20 10:11:33.000000",
      "timezone_type": 3,
      "timezone": "UTC"
    },
    "name": "image.jpg",
    "format": "jpg",
    "size": 426884,
    "width": 800,
    "height": 600,
    "deleted": false
  ]
}</code></pre>

          </div>

        </div>
      </div>
      <div class="grid__item md-w-1/2">
        <div class="rokka-feature mrgb+">
          <h4 class="mrg0 mrgb--">Upload once, show often </h4>
          <p class="mrg0">With rokka you upload your image just once – in the highest possible resolution. Working with your individually defined image formats and outputs, rokka takes care of the whole conversion.</p>
        </div>

        <div class="rokka-feature mrgb+">
          <h4 class="mrg0 mrgb--">Lightning fast delivery</h4>
          <p class="mrg0">No matter where in the world your viewers are, rokka delivers your images fast, safely and dependablely. This also saves your server resources.</p>
        </div>

        <div class="rokka-feature">
          <h4 class="mrg0 mrgb--">Simple API &amp; libraries</h4>
          <p class="mrg0">With the rokka image API you deliver your images easily on all your web sites. What’s more we offer libraries for common languages, making rokka even easier to use.</p>

          <ul class="list-inline list-inline--tight mrgt-">
            <li><div class="label"><span class="label__body">JavaScript</span></div></li>
            <li><div class="label"><span class="label__body">PHP</span></div></li>
            <li><div class="label"><span class="label__body">Symfony</span></div></li>
            <li><div class="label"><span class="label__body">CLI</span></div></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt">
  <div class="rokka-animation rokka-animation--freitag">
    <img src="assets/images/background--why-freitag.png"/>
  </div>
  <div class="section__body">
    <h2 class="h1">Why FREITAG chose rokka</h2>
    <div class="grid">
      <div class="grid__item md-w-1/2">
        <p class="text-lead">«Bei FREITAG fotografieren wir rund 60'000 Unikate pro Jahr. Auf unserem alten Fotoserver legten wir zu jedem Unikat mehrere Bildausschnitte und -formate ab, was zu einer enormen Datenmenge führte. Dank rokka benötigen wir jedes Bild nur noch einmal und profitieren dank Digital Image Processing von der gerätespezifischen Bereitstellung der Bilder.»</p>
        <p>
          <div class="h4 mrg0">Benjamin Caviezel</div>
          Specialist New Media at FREITAG
        </p>
      </div>
    </div>
  </div>
</section>



<section class="section">
  <div class="section__body">
    <h2 class="h1">Pricing</h2>
    <div class="rokka-box pdg pdgv+ pdgr+">
      <div class="grid grid--middle">
        <div class="grid__item md-w-1/2">
          <p class="h2 font-normal mrg0">
            Easy and transparent pricing.<br>
            Only pay what you actually use.
          </p>
        </div>
        <div class="grid__item md-w-1/2">
          <div class="flex flex-space-between">
            <div class="number">
              <div class="flex">
                <div class="number__before text-muted mrgr--">CHF</div>
                <div class="number__text">
                  <div class="number__value h1 mrgb0 text-primary">0.40</div>
                  <div class="number__description text-lead text-muted">per GB of images</div>
                </div>
              </div>
            </div>

            <div class="number">
              <div class="flex">
                <div class="number__before text-muted mrgr--">CHF</div>
                <div class="number__text">
                  <div class="number__value h1 mrgb0 text-primary">0.50</div>
                  <div class="number__description text-lead text-muted">per GB of traffic</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section section--primary">
  <div class="section__body">
    <h2 class="h1">Try out rokka for free</h2>
    <p class="text-lead">Follow clients like Migros, FREITAG and SRF – start now with rokka.</p>
    <button class="btn btn--md btn--negative">Start your free trial</button>
  </div>
</section>

<section class="section section--white">
  <div class="section__body">
    Footer
  </div>
</section>


{% endblock %}
