---
title: rokka is web images done right.
description: Storage, rendering and delivery of your images, easy and blazingly fast.
layout: default
---

{% block hero_content %}

{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content_wrapper %}

<div class="navbar navbar--sticky navbar--negative">
  <div class="navbar__body">
    <a href="/example-pages/home.html" class="navbar__brand" title="Liip"><div class="logo"><img src="output_dev/assets/images/rokka-logo.svg" style="height: 48px;">
</div></a>

    <button class="navbar__toggle btn btn--bare" title="Toggle navbar">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="navbar-hamburger icon">
        <rect x="4" y="5" width="16" height="2" class="navbar-hamburger__first"></rect>
        <rect x="4" y="11" width="16" height="2" class="navbar-hamburger__second"></rect>
        <rect x="4" y="17" width="16" height="2" class="navbar-hamburger__third"></rect>
      </svg>
    </button>
    <nav class="navbar__collapse">
      <ul class="navbar-menu">
        <li class="rokka-navbar-cta"><button class="btn btn--default btn--small btn--primary">Start your free trial</button></li>
        <li><a href="#" class="navbar-menu__link">Contact</a></li>
        <li><a href="#" class="navbar-menu__link">Documentation</a></li>
        <li><a href="#" class="navbar-menu__link">Login</a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="section-spacer">
  <section class="section section--primary section--fit section--middle section--fixed rokka-hero-section">
    <div class="section__body">
      <div class="grid grid--middle">
        <div class="grid__item md-w-3/5">
          <div class="rokka-hero-text">
            <h1 class="h2">digital image processing<br><span class="font-normal">done right.</span></h1>
            <p class="text-lead">Store, render and deliver images. Easy&nbsp;and&nbsp;blazingly&nbsp;fast.</p>
            <button class="btn btn--default btn--negative mrgt-" id="trial-button">Start your free trial</button>
          </div>
        </div>


        <div class="grid__item md-w-2/5">
          <div class="rokka-hero flex flex-align-center flex-justify-center">
            <div class="rokka-hero__animation-wrapper">
              <div class="rokka-hero__animation rokka-hero__animation--center">
                <div class="rokka-hero-bubble rokka-hero-bubble--huge">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <img src="output_dev/assets/images/rokka-box.svg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="rokka-hero__animation rokka-hero__animation--outside">
                <div class="rokka-hero-bubble rokka-hero-bubble--1">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <svg class="icon icon--cloud"><use xlink:href="#cloud" /></svg>
                    </div>
                    <div class="rokka-hero-bubble__label"><div>Upload and render images</div></div>
                  </div>
                </div>

                <div class="rokka-hero-bubble rokka-hero-bubble--2">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <svg class="icon icon--service-design"><use xlink:href="#service-design" /></svg>
                    </div>
                  </div>
                </div>

                <div class="rokka-hero-bubble rokka-hero-bubble--3">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <svg class="icon icon--api"><use xlink:href="#api" /></svg>
                    </div>
                    <div class="rokka-hero-bubble__label"><div>image processing on the fly</div></div>
                  </div>
                </div>

                <div class="rokka-hero-bubble rokka-hero-bubble--4">
                  <div class="rokka-hero-bubble-wrap">
                    <div class="rokka-hero-bubble__icon">
                      <svg class="icon icon--elearning"><use xlink:href="#elearning" /></svg>
                    </div>
                    <div class="rokka-hero-bubble__label"><div>Lightning fast delivery</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
</div>

<section class="section section--light">
  <div class="section__body">
    <p class="text-lead mrgb">The rokka image converter supports you in storing your digital images – easy and neat. Whether for handling image formats, SEO attributes or the lightning fast delivery, rokka is just the right tool for your digital images.</p>

  </div>
</section>


<section class="section section--light rokka-section--why">
  <div class="section__body">
    <div class="grid grid--middle">

      <div class="grid__item sm-w-2/3 md-w-3/5 lg-w-1/2">
        <h2 class="mrgb+ mrgt0">Why rokka?</h2>
        <div class="rokka-feature mrgb+">
          <h3 class="mrg0 h4 mrgb--"><div class="rokka-feature__icon">✔</div>Four your clients</h3>
          <p class="mrg0">rokka supports you with professional search engine optimization of your digital images.</p>
        </div>

        <div class="rokka-feature mrgb+">
          <h3 class="mrg0 h4 mrgb--"><div class="rokka-feature__icon">✔</div>Four your website</h3>
          <p class="mrg0">With rokka you manage your digital images safely and improve the speed of your website.</p>
        </div>

        <div class="rokka-feature">
          <h3 class="mrg0 h4 mrgb--"><div class="rokka-feature__icon">✔</div>Four your budget</h3>
          <p class="mrg0">Instead of thousands of expensive features, rokka covers exactly your needs. And that is what you pay. </p>
        </div>
      </div>
      <div class="grid__item hidden-xs-down sm-w-1/3 md-w-2/5 lg-w-1/2">
        <div class="rokka-animation rokka-animation--why">
          <img src="assets/images/rokka-neon-star.png"/>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section rokka-section-uoso">

  <div class="section__body">
    <div class="rokka-uoso-row--middle">
      <div class="grid">
        <div class="grid__item">
          <div class="rokka-uoso-device rokka-uoso-device--imac">
            <div class="rokka-uoso-device__hardware"></div>
            <div class="rokka-uoso-device__screen"></div>
          </div>
        </div>
        <div class="grid__item sm-w-1/2 md-w-3/5 lg-w-2/5">
          <div class="rokka-uoso-text">
            <h2 class="mrg0 mrgb--">Upload once,<br>show often</h2>
            <p class="mrg0">With rokka you upload your image just once – in the highest possible resolution. Working with your individually defined image formats and outputs, rokka takes care of the whole conversion.</p>
          </div>
        </div>
        <div class="grid__item hidden-md-down lg-w-1/5">
          <div class="rokka-uoso-device rokka-uoso-device--iphone">
            <div class="rokka-uoso-device__hardware"></div>
            <div class="rokka-uoso-device__screen"></div>
          </div>
        </div>
        <div class="grid__item sm-w-1/2 md-w-2/5 lg-w-2/5">
          <div class="rokka-uoso-device rokka-uoso-device--ipad">
            <div class="rokka-uoso-device__hardware"></div>
            <div class="rokka-uoso-device__screen"></div>
          </div>
        </div>

        <div class="grid__item sm-w-1/2 md-w-3/5">
          <div class="rokka-uoso-device rokka-uoso-device--macbook">
            <div class="rokka-uoso-device__hardware"></div>
            <div class="rokka-uoso-device__screen"></div>
          </div>
        </div>

        <div class="grid__item sm-w-1/2 md-w-2/5">
          <div class="rokka-uoso-text rokka-uoso-text--cropping">
            <h3 class="h4">Focal point and auto cropping</h3>
            <p class="mrg0">Define the focal point of your image. Thanks to its complex auto cropping operations, rokka will identify the best possible sector and use it for all your pre-defined image formats.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<section class="section">
  <div class="section__body flex flex-space-between">

    <div class="number">
      <div class="flex">
        <div class="number__before text-primary mrgr-"><svg class="icon icon--elearning"><use xlink:href="#elearning" /></svg></div>
        <div class="number__text">
          <div class="number__value h2 mrg0 text-primary">131’932</div>
          <div class="number__description text-lead text-muted">images stored</div>
        </div>
      </div>
    </div>

    <div class="number">
      <div class="flex">
        <div class="number__before text-primary mrgr-"><svg class="icon icon--ecommerce"><use xlink:href="#ecommerce" /></svg></div>
        <div class="number__text">
          <div class="number__value h2 mrg0 text-primary">28’234’239</div>
          <div class="number__description text-lead text-muted">image requests</div>
        </div>
      </div>
    </div>

    <div class="number">
      <div class="flex">
        <div class="number__before text-primary mrgr-"><svg class="icon icon--mobile"><use xlink:href="#mobile" /></svg></div>
        <div class="number__text">
          <div class="number__value h2 mrg0 text-primary">349’196</div>
          <div class="number__description text-lead text-muted">GB traffic</div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section section--light">
  <div class="section__body">
    <div class="rokka-feature--delivery">
      <div class="grid grid--middle">
        <div class="grid__item md-w-2/5">
          <h2 class="mrgt0">Made for the web.</h2>
          <h3 class="mrg0 h4 mrgb--">Lightning fast delivery</h3>
          <p class="mrg0">No matter where in the world your viewers are, rokka delivers your images fast, safely and dependablely. This also saves your server resources.</p>
          <p><img src="assets/images/amazon-web-services.png"/></p>
        </div>
        <div class="grid__item md-w-3/5">
          <div class="rokka-feature__image">
            <img src="assets/images/rokka-rocket.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section__body">
    <div class="rokka-feature--api">
      <div class="grid grid--middle mrgt++">
        <div class="grid__item md-w-3/5">
          <div class="rokka-feature-animation">
            <div class="rokka-box pdg">
<pre class="mrgb"><code>$ curl -X POST -F filedata=@image.jpg 'https://api.rokka.io/sourceimages/organization'</code></pre>
<pre><code class="language-json">{
  "total": 1,
  "sourceimages": [
    {
      "hash": "c03683b067927d77973b458e0baa40aa7b5e5418",
      "organization": "testorganization",
      "created": {
      "date": "2015-08-20 10:11:33.000000",
      "timezone_type": 3,
      "timezone": "UTC"
    },
    "name": "image.jpg",
    "format": "jpg",
    "size": 426884,
    "width": 800,
    "height": 600,
    "deleted": false
  ]
}</code></pre>

            </div>

          </div>
        </div>

        <div class="grid__item md-w-2/5">
          <h3 class="mrg0 h4 mrgb--">Simple API &amp; libraries</h3>
          <p class="mrg0">With the rokka image API you deliver your images easily on all your web sites. What’s more we offer libraries for common languages, making rokka even easier to use.</p>

          <ul class="list-inline list-inline--tight mrgt-">
            <li><div class="label"><span class="label__body">JavaScript</span></div></li>
            <li><div class="label"><span class="label__body">PHP</span></div></li>
            <li><div class="label"><span class="label__body">Symfony</span></div></li>
            <li><div class="label"><span class="label__body">CLI</span></div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>







<section class="section section--alt">
  <div class="section__body">
    <h2 class="">Pricing: Easy and transparent.</h2>
    <div class="rokka-box rokka-pricing-box mrgt+">
      <div class="pdg+">
        <div class="grid grid--middle">
          <div class="grid__item md-w-3/5">
            <h3 class="mrg0 mrgb--">Paid plan</h3>
            <p class="mrg0 rokka-pricing-box__desc">
              Only pay what you effectively use. Quarterly, you get the invoice with a detailed listing of what you have used. So you have an exact overview about your costs.
            </p>
          </div>
          <div class="grid__item md-w-2/5">
            <div class="flex">
              <div class="number flex-item-1">
                <div class="flex">
                  <div class="number__before text-muted mrgr--">CHF</div>
                  <div class="number__text">
                    <div class="number__value h2 mrg0 text-primary">0.40</div>
                    <div class="number__description text-muted">per GB of storage</div>
                  </div>
                </div>
              </div>

              <div class="number flex-item-1">
                <div class="flex">
                  <div class="number__before text-muted mrgr--">CHF</div>
                  <div class="number__text">
                    <div class="number__value h2 mrg0 text-primary">0.50</div>
                    <div class="number__description text-muted">per GB of traffic</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pdg+ rokka-pricing-box__free">
        <div class="grid grid--middle">
          <div class="grid__item md-w-3/5">
            <p class="mrg0 text-bold text-small">Free plan</p>
            <p class="mrg0 text-small rokka-pricing-box__desc">
              You don't want to buy a pig in a poke? Get in touch and try out rokka and all its features for free.
            </p>
          </div>
          <div class="grid__item md-w-2/5">
            <div class="flex">
              <div class="number flex-item-1">
                <div class="flex">
                  <div class="number__before text-muted mrgr-- invisible">CHF</div>
                  <div class="number__text">
                    <div class="number__value h3 mrg0 text-muted">FREE</div>
                    <div class="number__description text-muted text-small">2GB of space</div>
                  </div>
                </div>
              </div>

              <div class="number flex-item-1">
                <div class="flex">
                  <div class="number__before text-muted mrgr-- invisible">CHF</div>
                  <div class="number__text">
                    <div class="number__value h3 mrg0 text-muted">FREE</div>
                    <div class="number__description text-muted text-small">5GB of traffic</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="text-tiny text-right text-muted">All prices in CHF and excl. VAT.</p>

  </div>
</section>



<section class="section section--primary rokka-section-cta">
  <div class="section__body">

    <div class="flex flex-align-center">
      <div class="flex-item-1">
        <h2 class="mrg0">Try out rokka for free</h2>
        <p class="mrg0 text-lead">Follow clients like Migros, FREITAG and SRF – start now with rokka.</p>
      </div>
      <div class="flex-item-auto">
        <button class="btn btn--md btn--negative">Start your free trial</button>
      </div>
    </div>
  </div>

</section>


<section class="section section--white rokka-section-cta">
  <div class="section__body">

    <div class="rokka-quote">
      <div class="flex flex-align-end">
        <div class="flex-item-1">
          <div class="rokka-quote__bubble pdg+">
            <h3 class="mrg0 mrgb--">Why FREITAG chose rokka</h3>
            <p class="mrg0">«Bei FREITAG fotografieren wir rund 60'000 Unikate pro Jahr. Auf unserem alten Fotoserver legten wir zu jedem Unikat mehrere Bildausschnitte und -formate ab, was zu einer enormen Datenmenge führte. Dank rokka benötigen wir jedes Bild nur noch einmal und profitieren dank Digital Image Processing von der gerätespezifischen Bereitstellung der Bilder.»</p>
          </div>
        </div>
        <div class="flex-item-auto mrgl+">
          <div class="flex flex-align-center">
            <div class="flex-item-auto">
              <div class="rokka-quote__avatar"></div>
            </div>
            <div class="flex-item-1">
              <div class="h4 mrg0 mrgt--">Benjamin Caviezel</div>
              <span>Specialist New Media at FREITAG</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section section--white">
  <div class="section__body">
    <div class="rokka-footer pdgt">
      <div class="flex">
        <div class="flex-item-1">
          <div class="rokka-footer__logo"><img src="output_dev/assets/images/rokka-logo.svg" style="height: 24px;"></div>
        </div>
        <div class="flex-item-auto mrgl">
          <span class="text-small">Limmatstrasse 183, CH-8005 Zürich, Switzerland</span>
        </div>
        <div class="flex-item-auto mrgl">
          <span class="text-small">+41 43 500 39 80</span>
        </div>
        <div class="flex-item-auto mrgl">
          <a href="mailto:sales@rokka.io" class="text-small">sales@rokka.io</a>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
